body {
  background-color: #f9fafa;
}

/* chat button */

.chat-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 56px;
  height: 56px;
  color: #fff;
  background-color: #424a4d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.25s ease-in;
}

.chat-button:hover {
  background-color: #b0b0b0;
}

.dots img {
  width: 25px;
  margin-top: 3px;
}

.chat-button.active .dots {
  content: "✖";
  width: auto;
  height: auto;
  background: none;
  font-size: 24px;
  color: white;
}

.hidden-buttons {
  position: fixed;
  bottom: 100px;
  right: 19px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}

.small-button {
  width: 56px;
  height: 56px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.small-button:hover {
  background-color: #1bb6e5;
}

.message-icon {
  font-size: 18px;
}

.chat-button.active + .hidden-buttons {
  display: flex;
}

/* header section */

.logo-img {
  width: 200px;
}

header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #eef1f1;
  top: 0;
  right: 0;
  display: flex;
  background-color: #fff;
  position: fixed;
  z-index: 100;
}

.headerDiv {
  max-width: 1110px;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerNav ul {
  display: flex;
  gap: 32px;
}

.headerNav ul li a {
  color: #555f62;
  font-size: 14px;
}

.searchImage {
  display: flex;
  width: 24px;
}

.lastPartHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.follows a {
  color: #182cc0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  align-items: center;
  gap: 6px;
}

.follows span {
  margin-top: 2px;
}

.follows a:hover {
  color: #1bb6e5;
  transition: color 1s ease-out 0ms;
}

.globe {
  width: 16px;
}

.languageDiv a {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #555f62;
  font-size: 14px;
  font-weight: 700;
}

.languageDiv a:hover {
  border-radius: 4px;
  background-color: #d3d2d2;
  transition: all 1s;
}

.burger-menu {
  width: 20px;
  display: none;
}

/* responsive header */

@media (max-width: 900px) {
  .headerNav {
    display: none;
  }

  .languageDiv {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

/* workspace image section */

.room-image-section {
  width: 100%;
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.room-image-section h4 {
  margin: 110px 0px 40px 0px;
  font-size: 12px;
  font-weight: 500;
  color: #555f62;
}

.room-image-div img {
  border-radius: 6px;
  filter: brightness(0.8);
}

.image-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -9%);
  color: #fff;
}

.image-text h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.image-text p {
  width: 400px;
  font-size: 14px;
  line-height: 1.7;
}

.followButton {
  width: 130px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: #fff;
  background-image: linear-gradient(15deg, #001682, #3240e5);
}

.followButton:hover {
  color: #1bb6e5;
  transition: color 1s ease-out 0ms;
}

.followButton :nth-child(1) {
  width: 16px;
}

.followButton :nth-child(2) {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
}

/* workspace image section responsive */

@media (max-width: 768px) {
  .followButton {
    width: 100%;
    align-items: stretch;
    align-items: center;
  }
}

/* big-message section */

.big-message-section {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0px;
}

.big-message-section p {
  font-size: 32px;
  color: #141719;
  font-weight: 700;
  line-height: 1.5;
}

/* sets section */

.sets-section {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0px;
}

.sets-section h2 {
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 700;
}

.sets-text h3 {
  font-size: 24px;
  color: #fff;
}

.sets-text a {
  color: #fff;
}

.sets-text span {
  font-size: 14px;
  text-decoration: underline;
}

.set-images-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.relativeSetImage {
  position: relative;
}

.sets-section img {
  width: 500px;
  border-radius: 8px;
  filter: brightness(0.8);
}

.relativeSetImage:hover {
  transition: all 0.9s;
  transform: scale(1.1);
}

.sets-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  padding: 160px 30px;
  color: #fff;
}

.sets-text :nth-child(2):hover {
  transition-property: color;
  opacity: 8;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
  color: #4d5053;
}

/* numbers section */

.numbers-section {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 60px 0px;
}

.numbers-section div {
  width: 340px;
  height: 180px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 48px;
  border-radius: 8px;
}

.numbers-section h4 {
  font-size: 44px;
  color: #141719;
  font-weight: 700;
  line-height: 1.3;
}

.numbers-section span {
  font-size: 16px;
  font-weight: 500;
  color: #555f62;
}

/* numbers section responsive */

@media (max-width: 1140px) {
  .numbers-section {
    flex-direction: column;
  }

  .numbers-section div {
    width: 100%;
  }
}

/* offers section */

.offer-title {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.offer-title a {
  color: #182cc0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  align-items: center;
  gap: 6px;
}

.offer-title a:hover {
  color: #1bb6e5;
  transition: color 1s ease-out 0ms;
}

.slider {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  height: 500px;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
}

.slides {
  display: flex;
}

.slide {
  min-width: 33.3333%;
  height: 350px;
  margin-right: 30px;
  border-radius: 8px;
  border: 1px solid #e1e4e5;
}

.slide img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.navigation {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.line-container {
  flex-grow: 1;
  position: relative;
  height: 2.5px;
  background: gray;
  margin-right: 20px;
}

.full-line {
  position: absolute;
  width: 100%;
  height: 100%;
  background: gray;
}

.progress-line {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  background: rgb(22, 63, 212);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
}

.navigation button {
  background: none;
  border: none;
  color: rgb(22, 63, 212);
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
}

.navigation button:hover {
  color: gray;
}

.slidesP {
  width: 100%;
  padding: 28px;
}

.slidesP h5,
.slidesP h5 span {
  font-size: 12px;
  font-weight: 700;
  color: #6f787b;
  line-height: 20px;
}

.slidesP h5 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.slidesP p {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #141719;
  margin-top: 10px;
}

@media (max-width: 425px) {
  .offer-title a {
    display: none;
  }

  .slidesP p {
    font-size: 12px;
  }

  .slidesP h5,
  .slidesP h5 span {
    font-size: 10px;
  }

  .slidesP h5 {
    gap: 10px;
  }
}

/* digital bank section */

.digital-bank-section {
  width: 100%;
  background-color: #fff;
  padding: 60px 0px 0px;
  margin: 60px 0px;
}

.digital-bank-div {
  max-width: 1110px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-img {
  width: 280px;
}

.digital-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.digital-text h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #141719;
}

.digital-text p {
  font-size: 14px;
  color: #555f62;
  line-height: 1.7;
  max-width: 450px;
}

.digitalApps a img {
  width: 133px;
  color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  padding: 16px 32px;
  margin-right: 16px;
}

.digitalApps a:hover {
  transition: color 1s ease-out 0ms;
  opacity: 0.8;
}

.digitalApps :nth-child(3) {
  display: none;
  width: 160px;
  height: 50px;
  color: #182cc0;
  border: 1px solid #182cc0;
  border-radius: 4px;
  padding: 16px 32px;
  margin-right: 16px;
  background-color: #f9fafa;
}

.digitalApps span {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
}

/* digital bank section responsive */

@media (max-width: 990px) {
  .digitalApps :not(:last-child) {
    display: none;
  }

  .digitalApps :nth-child(3) {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}

/* products section */

.products-section {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.products-div {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0px;
}

.products-section h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.offersP {
  padding: 0px 20px;
}

.offers-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  width: 520px;
  height: 400px;
  border-radius: 8px;
  border: 1px solid #e1e4e5;
}

.allOfferDiv {
  display: flex;
  gap: 30px;
}

.offers-text img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.offers-text span {
  font-size: 12px;
  color: #6f787b;
}

.offersP h3 {
  font-size: 16px;
  font-weight: 700;
  color: #141719;
  margin-bottom: 16px;
}

.offersP span {
  font-size: 14px;
  line-height: 1.7;
  color: #555f62;
  margin-bottom: 16px;
}

.offersP span span {
  font-size: 14px;
  font-weight: 700;
}

/* products section responsive */

@media (max-width: 1000px) {
  .offers-text img {
    height: auto;
  }
  .offers-text {
    height: auto;
  }
}

@media (max-width: 590px) {
  .offersP h3 {
    font-size: 12px;
  }
  .offersP span,
  .offersP span span {
    font-size: 10px;
  }
}

/* personal banker image section */

.room-image-section.personal-banker-section {
  margin-bottom: 120px;
}

.banker-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  color: #fff;
}

.banker-text h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.banker-text p {
  font-size: 14px;
  line-height: 1.7;
}

.banker-text a {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  width: 130px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(15deg, #001682, #3240e5);
}

.banker-text :hover {
  color: #1bb6e5;
  transition: color 1s ease-out 0ms;
}

/* personal banker image section responsive */

@media (max-width: 768px) {
  .banker-text a {
    width: 100%;
    align-items: stretch;
    align-items: center;
  }
}

/* awards section */

.offer-title h2 {
  font-size: 24px;
  color: #141719;
  font-weight: 700;
  margin-bottom: 30px;
}

.slidesP h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #141719;
  margin-bottom: 16px;
  max-width: 250px;
  width: 100%;
}

.slidesP span {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #555f62;
}

.slide.awardImg img {
  width: 118px;
  margin: 24px;
}

.slide.awardImg {
  max-height: 280px;
}

.slider.awardSlider {
  height: 480px;
}

.slide.awardImg :hover {
  cursor: grab;
}

/* awards section responsive */

@media (max-width: 840px) {
  .slidesP {
    padding: 15px;
  }

  .slidesP h4 {
    font-size: 14px;
  }
  .slidesP span {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .slidesP h4 {
    line-height: 23px;
  }

  .slide.awardImg img {
    margin: 10px;
  }
}

@media (max-width: 460px) {
  .slide.awardImg img {
    width: 80px;
  }

  .slidesP h4 {
    font-size: 12px;
  }

  .slidesP span {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .slidesP h4 {
    font-size: 10px;
  }
}

/* footer section */

footer {
  background-color: #fff;
  width: 100%;
}

.footerDiv {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.footerLogo {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  margin-top: 60px;
}

.languageDiv a {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #555f62;
  font-size: 14px;
  font-weight: 700;
}

.languageDiv a:hover {
  border-radius: 4px;
  background-color: #d3d2d2;
  transition: all 1s;
}

footer a img {
  width: 200px;
  color: #141719;
}

footer a {
  color: #141719;
}

.footerNav {
  display: flex;
  justify-content: space-between;
}

.footerNav img {
  width: 20px;
}

.socMedia a img {
  width: 40px;
  height: 40px;
  background-color: #f9fafa;
  border-radius: 6px;
}

.nav h3 {
  margin-bottom: 24px;
  color: #141719;
  font-weight: 700;
}

.nav ul li {
  margin-bottom: 20px;
}

.nav ul li a {
  color: #555f62;
  display: flex;
  align-items: center;
  gap: 10px;
}

.blueNav ul li a:hover,
.rules a:hover {
  transition: color 1s ease-out 0ms;
  color: #182cc0;
}

.lastNav ul li a:hover {
  transition: all 1s;
  text-decoration: underline;
}

.socMedia {
  margin: 40px 0px;
}

.socMedia a img:hover {
  background-color: #dadbdb;
  transition: color 1s ease-out 0ms;
}


.socMedia h3 {
  margin: 24px 0px;
  color: #141719;
  font-weight: 700;
}

/* footer responsive */

@media (max-width: 768px) {
  .lifeStyle,
  .products,
  .cafe {
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
  }

  .nav ul li a {
    display: none;
  }

  nav.blueNav.conceptNav ul li a {
    display: flex;
  }

  .nav.lastNav ul li a {
    display: flex;
  }

  .footerNav {
    flex-direction: column;
  }
}

/* last footer */

.lastFooter {
  width: 100%;
  padding: 40px 0px;
  border-top: 1px solid #eef1f1;
}

.last-footer-div {
  display: flex;
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.bank2024 {
  display: flex;
  align-items: center;
}

.bank2024 img {
  width: 30px;
}

.rules {
  display: flex;
  gap: 30px;
}

.last-footer-div a,
.lastFooter span {
  font-size: 12px;
  color: #555f62;
}

/* last footer responsive */

@media (max-width: 768px) {
  .last-footer-div {
    display: block;
    flex-direction: column;
  }
  .rules {
    flex-direction: column;
  }

  .rules {
    gap: 20px;
  }

  .rules :nth-child(1) {
    margin-top: 20px;
  }
}
