/* header section */

.logo-img {
  width: 200px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.headerNav ul {
  display: flex;
  gap: 30px;
}

.headerNav ul li a {
  color: #222;
  font-size: 16px;
}

.searchImage {
  width: 25px;
}
.searchA {
  display: flex;
}

.globe {
  width: 15px;
}

.lastHeaderDiv {
  display: flex;
  align-items: center;
  gap: 30px;
}

.lastHeaderDiv :nth-child(2) {
  color: #182cc0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
}

.lastHeaderDiv :nth-child(4) {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
  font-weight: 700;
}

.burger-menu {
  width: 20px;
  display: none;
}

/* workspace image section */

.room-image-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.room-image-section h5 {
  margin-left: 195px;
  color: #141719;
  font-weight: 500;
}

.room-image-div {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.image-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 540px;
  margin: 140px 90px;
}

.image-text p {
  font-size: 20px;
}

.image-text h1,
p,
a {
  color: #fff;
}

.image-text h1 {
  font-size: 32px;
}

.image-text a {
  background-color: #073997;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
}

/* big-message section */

.big-message-section {
  padding: 60px 0px;
  max-width: 1440px;
  width: 1110px;
  margin: 0 auto;
}

.big-message-section p {
  font-size: 36px;
  color: #141719;
  font-weight: 500;
  line-height: 1.5;
}

/* sets section */

.sets-section {
  max-width: 1440px;
  width: 1110px;
  margin: 0 auto;
}

.sets-section h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.sets-text h3 {
  font-size: 24px;
}

.sets-text :nth-child(2) {
  text-decoration: underline;
}

.set-images-div {
  display: flex;
  flex-wrap: wrap;
}

.relativeSetImage {
  position: relative;
}

.sets-section img {
  width: 438px;
  border-radius: 10px;
}

.sets-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  padding: 160px 20px;
}

